@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito', sans-serif;
    background-color: rgb(38, 41, 43);
    color: white;
    display: flex;
    justify-content: center;
   
    height: 100vh;
    
}